* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-main {
  background-color: #163f86 !important;
}

.color-primary {
  color: #163f86;
}

.color-main {
  color: white;
}

.color-secondary {
  color: gray;
}

.color-red {
  color: red;
}

.light-text {
  color: rgb(128, 126, 126);
  font-size: 12px;
}

.shadow-bottom-sidebar {
  box-shadow: 0 3px 0 0 #163f86;
}

.btn-save {
  background-color: #04aa6d;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 600;
}

.btn-cancel {
  background-color: rgb(213, 210, 210);
  border: none;
  color: rgb(74, 73, 73);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 600;
}

.radio-color {
  background-color: white !important;
}

.radio-color:checked {
  background-color: #163f86 !important;
}

.sidebar {
  position: fixed;
  width: 240px;
  min-width: 240px;
  top: 64px;
  max-width: 240px;
  height: calc(100vh - 64px);
}

.content-area {
  margin-left: 260px;
  margin-top: 64px;
  height: calc(100vh - 64px);
  overflow-y: auto;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  background: white;
}

.sidebar a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

@media (max-width: 767.98px) {
  .content-area {
    margin-left: 0;
  }
}
